* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/games-white-pattern.png");
  background-color: #081F2F;
  margin: 0 auto;
  height: 100%;
  font-family: "Dosis", sans-serif, "Press Start 2P", cursive,;
  font-size: 16px;
  line-height: 1.71429;
}

h1, h2, h3, h4, h5, h6, small, a, p, ul, li, input, label, button, form {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img {
  vertical-align: middle;
}

.splash {
  background-color: #081F2F;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 20vh;
}

.splash-display {
  display: none;
}

.startplay-display {
  display: none;
}

.logo-header {
  height: 10vh;
}

.form-title {
  font-family: "Press Start 2P";
  font-size: 1.2rem;
  color: #FFF;
}

.form-label {
  display: none;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  font-family: "Press Start 2P";
  font-size: 0.8rem;
  color: #FFF;
}

.form-input:focus {
  outline-color: #FFF;
}

.form-input::placeholder {
  font-family: "Press Start 2P";
  font-size: 0.8rem;
  color: #FFF;
  opacity: 0.5;
}

.divider-text {
  font-family: "Press Start 2P";
  font-size: 0.8rem;
  color: #FFF;
}

.divider-line {
  background-color: #FFF;
  width: 15vw;
  height: 2px;
}

.form-btn {
  text-transform: uppercase;
  font-family: "Press Start 2P";
  font-size: 0.8rem;
  color: #FFF;
  border: none;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
}

.signin-btn {
  background-color: #61B5E4;
  box-shadow: 0 6px #0B406C;
}

.signin-btn:hover {
  color: #000;
	box-shadow: 0 4px #0B406C;
	top: 2px;
}

.signin-btn:active {
	box-shadow: 0 0 #0B406C;
	top: 6px;
}

.signup-btn, .start-btn {
  background-color: #F7A71A;
  box-shadow: 0 6px #F36634;
}

.signup-btn:hover, .start-btn:hover {
  color: #000;
	box-shadow: 0 4px #F36634;
	top: 2px;
}

.signup-btn:active, .start-btn:active {
	box-shadow: 0 0 #F36634;
	top: 6px;
}

.return-btn {
  background-color: #DA262F;
  box-shadow: 0 6px #81252A;
}

.return-btn:hover {
  color: #000;
	box-shadow: 0 4px #81252A;
	top: 2px;
}

.return-btn:active {
	box-shadow: 0 0 #81252A;
	top: 6px;
}

.sub-txt {
  font-size: 0.6rem;
}
